/* Styles and stuff */
body {
    font-family: 'Helvetica', arial;
}

div.row {
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

@media only screen and (min-width: 40.063em) { 
    div.fullvertical {
        min-height: 100vh;
    }
}

/* Top bar styling */
.nav-logo {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    margin-top: 2.5px;
}

.top-bar {
    background: #fff;
    height: 3.8125rem;
    padding: .5rem;
}

.contain-to-grid {
    background: #fff;
}

.top-bar {
    /* Left side */
    background: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1rem;
}

.top-bar-section > ul > li > a {
    font-weight: 600;
    color: #000;
}

.top-bar-section li a:not(.button) {
    /* Right side */
    background: #fff !important;   
}

.top-bar-section li a:not(.button):hover {
    background: #000 !important;   


}

.top-bar-section ul li.active > a {
    background: gray !important;   
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;   
}

/* Hero styling */
#hero {
    padding: 12rem 5rem 5rem 5rem;
    background: #FF3D7F;
}   

/* Committees styling */
#committees {
    padding: 4rem;
    background-color: #FF9E9D;
}

/* Team styling */
div.row#team {
    background-color: #DAD8A7;
    padding: 4rem;
}

/* Contact form styling */
div.row#contact {
    background-color: #166E92;
    padding: 8rem 4rem 4rem 4rem;
}

div.row#contact label {
    color: white;
    font-family: 'Inconsolata';
}

div.row#contact h1 {
    color: #F1EE7B;
    font-family: 'Helvetica', arial;
    font-weight: 800;
    letter-spacing: .05rem;
    font-size: 3rem;
    text-align: center; 
}
