/* Styles and stuff */
body {
    font-family: 'Helvetica', arial;
}

div.row {
    max-width: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

@media only screen and (min-width: 40.063em) { 
    div.fullvertical {
        min-height: 100vh;
    }
}

/* Hero styling */
#hero {
    padding: 12rem 5rem 5rem 5rem;
    background: #FF3D7F;
}   

/* Committees styling */
#committees {
    padding: 4rem;
    background-color: #FF9E9D;
}

/* Team styling */
div.row#team {
    background-color: #DAD8A7;
    padding: 4rem;
}

/* Contact form styling */
div.row#contact {
    background-color: #166E92;
    padding: 8rem 4rem 4rem 4rem;
}